<h1>Login</h1>
<p class="f1"><%= link_to 'login', [:new, :user_session ] %></p>
<p class="f1"><%= link_to 'registration', [:new, :user_registration ] %></p>
<p class="f1"><%= link_to 'change password', [:new, :user_password ] %></p>

