<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=shift_jis">
<title>ＨＴＭＬテンプレート-k2-s.com-No.010</title>


<meta name="description" content="サイトの詳細をここに記述">
<meta name="keywords" content="サイトのキーワードをここに記述">
<link href="style.css" rel="stylesheet" type="text/css">
</head>

<body>
<div class="left_box">
<h1>HTMLテンプレート（ページタイトル）</h1>
<h2>ページのサブタイトル</h2>
<p class="f1">一番上のページタイトルの書き方<br>
&lt;h1&gt;HTMLテンプレート（ページタイトル）&lt;/h1&gt;<br><br>
  その次のページのサブタイトルは、<br>
&lt;h2&gt;ページのサブタイトル&lt;/h2&gt;<br>
  と書けばＯＫです。葉っぱもスタイルシートで背景としていますので、自動的に出てきます。<br><br>
  そしてここの部分、メインの文章の部分ですが、<br>
&lt;p class=&quot;f1&quot;&gt;ここに文章を記入&lt;/p&gt; <br>
  と書いてください。改行は適当に入れてください。</p>
<h2>ページの記述法</h2>
<p class="f1">通常の文章は上の書き方だけでもよいかもしれませんが少しメリハリをつけるためにもいくつかほかの書き方を…
  全部スタイルシートで指定していますので、class=f1のf2…とかに変更すればよいだけです。</p>
<p class="f2">まずこのように枠でくくるには、<br>
&lt;p class=&quot;f2&quot;&gt;ここに内容を書いて&lt;/p&gt;<br>
  とすればよいです。<br>
  あいうえお、かきくけこ、さしすせそ、たちつてと、なにぬねの、はひふへほ、まみむめも、やゆよ、わをん</p>
<p class="f3">続いて、その枠をドットにします。使い分ける意味があるかわかりませんがお好きに使ってください。<br>
  書き方は、<br>
&lt;p class=&quot;f3&quot;&gt;ここに内容を書いて&lt;/p&gt;<br>
  です。</p>
<p class="f4">さらに、背景に色がついたものは、<br>
&lt;p class=&quot;f4&quot;&gt;ここに内容を書いて&lt;/p&gt;<br>
  です。</p>
<h2>ページ中のリンク</h2>
<p class="f1">ページ中のリンクをスタイルシートで指定しています。<br>
    <a href="#">リンク</a><br>
    <a href="http://www.k2-s.com/" target="_blank">HTMLテンプレート-k2-s.com-</a><br>
    リンク集にでも入れておいていただけたらうれしいです。<br><br>
</p>
<br><br>
</div>
<div class="right_box">
  <div align="center"><img src="img/title.gif" width="280" height="100"><br><br>
  <img src="img/contents.gif"></div>
  <div><a href="index.html" class="menu">トップページ</a></div>
  <div><a href="#" class="menu">メニュー1</a></div>
  <div><a href="#" class="menu">メニュー2</a></div>
  <div><a href="#" class="menu">メニュー3</a></div>
  <div><a href="#" class="menu">メニュー4</a></div>
  <div><a href="#" class="menu">メニュー5</a></div>
  <div class="right_box1">
  <h3>この上のリンクの作り方</h3>
  <div class="right_com1">&lt;div&gt;&lt;a href=&quot;リンク先アドレスl&quot; class=&quot;menu&quot;&gt;リンク名&lt;/a&gt;&lt;/div&gt;</div>
  <h3>最新情報</h3>
  <div class="right_com1">この上のタイトルの書き方は<br>
  &lt;h3&gt;最新情報&lt;/h3&gt;</div>
  <h3>このサイトについて</h3>
  <div class="right_com1">ここの部分の書き方は、<br>
  &lt;div class=&quot;right_com1&quot;&gt;ここに文章を記述&lt;/div&gt;<br>
  あいうえお、かきくけこ、さしすせそ<br>
  たちつてと、なにぬねの、はひふへほ、まみむめも</div></div>
  <div class="right_box1">このボックスの作り方<br>
  &lt;div class=&quot;right_box1&gt;ここに中身を記述&lt;/div&gt; </div>
  <div align="center" class="right_box2">
  <!--ここから変更不可-->
  <a href="http://www.k2-s.com/" target="_blank" class="c">Powered by k2-s.com</a><br / >
  <a href="http://www.wdcro.com" target="_blank" class="c">ホームページ制作</a>
  <a href="http://www.2nd-css.com" target="_blank" class="c">HTMLテンプレート</a>
  <!--ここまで変更不可-->
  </div>
</div>
</body>
</html>
